{% extends 'base.html' %} {% block content %}

<section class="relative h-[80vh]">
  <div
    class="absolute w-full h-full -translate-x-[50%] left-[50%] overflow-clip"
  >
    <!--overlay-->
    <div
      class="absolute top-0 left-0 object-cover w-full h-[80vh] z-20 bg-black/40"
    >
      <div class="mt-16 mx-5 w-auto font-bold md:ml-24 text-slate-100">
        <h1 class="text-4xl font-semibold font-serif">
          Seamless Logistics<br />
          Timely Solutions
        </h1>
        <p
          class="w-[300px] mt-4 text-sm font-bold font-playpen break-words md:text-2xl"
        >
          We provide you with a “one-stop-solution” to meet all of your
          logistics requirements. You will get personalized service at every
          level with Tasky Logistics because we are truly independent, make our
          own decisions and specialize in our home market.
        </p>
      </div>
    </div>
    <img
      class="w-full h-[80vh] object-cover"
      src="{{url_for('static', filename='media/logistics.jpg')}}"
    />
  </div>
</section>

<section class="py-8">
  <div class="px-5 py-2 md:ml-16">
    <h1 class="font-bold text-yellow-300 text-2xl pb-3">About us</h1>
    <div class="flex flex-col min-[900px]:flex-row">
      <div class="flex justify-center">
        <img
          class="object-cover w-auto h-[300px] max-[900px]:mx-14"
          src="{{url_for('static', filename='media/truck2.jpg')}}"
          alt="truck"
        />
      </div>

      <div class="pl-5 pt-5 text-left">
        <p>
          Tasky Transport is a dynamic and innovative transport and Logistics
          Company, with a strategic specialized fleet, providing solutions
          throughout Kenya for a diverse range of customers. Our blend of owned
          vehicles, comprehensive innovative solutions, strategic partnerships,
          4PL and 3Pl service offerings coupled with excellent service, quick
          decision making and first-hand knowledge enables us to supply our
          customers with a tailor made, reliable and cost effective solution,
          meeting specific requirements of customers. This is accomplished by
          learning customer’s exact objectives with regards to their internal
          and external requirements, thus ensuring that Tasky Logistics will
          provide quality services more consistently than any other service
          provider in the market
        </p>
      </div>
    </div>
  </div>
</section>

<!------Testimonials-->

<section
  id="gallery"
  class="hidden md:flex relative w-full text-gray-800 bg-slate-200 overflow-hidden"
  data-carousel="slide"
>
  <h1 class="font-bold text-yellow-300 text-2xl py-3 ml-20">Testimonials</h1>
  <!--carousel wrapper-->
  <div class="relative overflow-hidden h-[450px] w-[40rem] mt-5">
    <!--Item 1-->
    <figure
      class="my-10 hidden duration-700 ease-in-out"
      data-carousel-item="active"
    >
      <blockquote
        class="absolute max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 bg-teal-400 py-8 rounded-3xl ease-in-out"
      >
        <p
          class="text-base text-left before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-4xl before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:bottom-0 after:right-5 after:text-4xl after:opacity-25 after:transform after:translate-x-2 after:translate-y-2"
        >
          <figcaption class="italic text-lg text-slate-100 text-right mt-2">
            Alex Ng'ang'a Muchiri, Online Seller
          </figcaption>
          Tasky Logistics is a game-changer for my online store. The simplicity
          and efficiency of their transport services are unmatched. Deliveries
          are always on point, and the tracking system keeps me in the loop.
          It's a relief to have a trustworthy partner like Tasky Logistics in my
          corner.
        </p>
      </blockquote>
    </figure>

    <!--Item 2-->
    <figure
      class="my-10 mx-10 hidden duration-700 ease-in-out"
      data-carousel-item
    >
      <blockquote
        class="absolute max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 bg-teal-400 px-8 py-8 rounded-3xl"
      >
        <p
          class="text-base text-left before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-4xl before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:bottom-0 after:right-5 after:text-4xl after:opacity-25 after:transform after:translate-x-2 after:translate-y-2"
        >
          <figcaption class="italic text-lg text-slate-100 text-right mt-2">
            David Tarus Kiprono., Supply Chain Coordinator
          </figcaption>
          Tasky Logistics has been the missing piece in our supply chain puzzle.
          Their team's dedication to reliability is commendable. We've seen a
          significant improvement in our overall operations since partnering
          with Tasky. If you need a logistics company you can trust, look no
          further. Tasky delivers, literally!.
        </p>
      </blockquote>
    </figure>
    <!--Item 3-->
    <figure
      class="my-10 mx-10 hidden duration-700 ease-in-out"
      data-carousel-item
    >
      <blockquote
        class="absolute max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 bg-teal-400 px-8 py-8 rounded-3xl"
      >
        <p
          class="text-base text-left before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-4xl before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:bottom-0 after:right-5 after:text-4xl after:opacity-25 after:transform after:translate-x-2 after:translate-y-2"
        >
          <figcaption class="italic text-lg text-slate-100 text-right mt-2">
            Samuel Maina., E-commerce Entrepreneur
          </figcaption>
          In a fast-paced world of e-commerce, on-time delivery is essential.
          Tasky Logistics has been a game-changer for us. Their commitment to
          timely and secure deliveries has significantly boosted our customer
          satisfaction.Trustworthy and dependable – Tasky Logistics is now an
          integral part of our success story
        </p>
      </blockquote>
    </figure>
    <!---Item 4-->
    <figure
      class="my-10 mx-10 hidden duration-700 ease-in-out"
      data-carousel-item
    >
      <blockquote
        class="absolute max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 bg-teal-400 px-8 py-8 rounded-3xl"
      >
        <p
          class="text-base text-left before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-4xl before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:bottom-0 after:right-5 after:text-4xl after:opacity-25 after:transform after:translate-x-2 after:translate-y-2"
        >
          <figcaption class="italic text-lg text-slate-100 text-right mt-2">
            Grace Atieno., Business Owner
          </figcaption>
          Tasky Logistics has truly transformed the way we handle our shipments.
          Their impeccable transport and delivery services have not only saved
          us time but also provided a level of reliability we can count on. It's
          a partnership we value, and I highly recommend their services to any
          business looking for peace of mind in logistics.
        </p>
      </blockquote>
    </figure>
    <!--Item 5-->
    <figure
      class="my-10 mx-10 hidden duration-700 ease-in-out"
      data-carousel-item
    >
      <blockquote
        class="absolute max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 bg-teal-400 px-8 py-8 rounded-3xl"
      >
        <p
          class="text-base text-left before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-4xl before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:bottom-0 after:right-5 after:text-4xl after:opacity-25 after:transform after:translate-x-2 after:translate-y-2"
        >
          <figcaption class="italic text-lg text-slate-100 text-right mt-2">
            Emily Kawira., Small Business Owner
          </figcaption>
          Tasky Logistics made my life so much easier! Their delivery service is
          fast, reliable, and stress-free. I can trust them to get my products
          where they need to be on time, every time. Thanks to Tasky, I can
          focus on growing my business without worrying about logistics
        </p>
      </blockquote>
    </figure>
  </div>
</section>

<section class="sm:hidden bg-slate-200 py-5">
  <h1 class="font-bold text-yellow-300 text-2xl py-3 ml-16">Testimonials</h1>

  <figure class="my-10 mx-10">
    <blockquote
      class="bg-teal-400 pl-10 pr-8 py-6 rounded-3xl relative shadow-2xl"
    >
      <p
        class="text-base text-left mt-2 text-gray-700 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-6xl before:opacity-25 before:transform before:translate-y-2 before:translate-x-2 after:content-['\201D'] after:font-serif after:absolute after:right-10 after:text-6xl after:opacity-25 after:transform after:translate-y-2 after:translate-x-2"
      >
        Tasky Logistics made my life so much easier! Their delivery service is
        fast, reliable, and stress-free. I can trust them to get my products
        where they need to be on time, every time. Thanks to Tasky, I can focus
        on growing my business without worrying about logistics.
      </p>
      <figcaption class="italic text-lg text-slate-100 text-right mt-2">
        Emily Kawira., Small Business Owner
      </figcaption>
    </blockquote>
  </figure>
  <!---------------------------->
  <figure class="my-10 mx-10">
    <blockquote
      class="bg-teal-400 pl-10 pr-8 py-6 rounded-3xl relative shadow-2xl"
    >
      <p
        class="text-base text-left mt-2 text-gray-700 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-6xl before:opacity-25 before:transform before:translate-y-2 before:translate-x-2 after:content-['\201D'] after:font-serif after:absolute after:right-10 after:text-6xl after:opacity-25 after:transform after:translate-y-2 after:translate-x-2"
      >
        In the fast-paced world of e-commerce, on-time delivery is
        non-negotiable. Tasky Logistics has been a game-changer for us. Their
        commitment to timely and secure deliveries has significantly boosted our
        customer satisfaction. What sets Tasky apart is not just their service
        but the peace of mind that comes with it. Trustworthy and dependable –
        Tasky Logistics is now an integral part of our success story.
      </p>
      <figcaption class="italic text-lg text-slate-100 text-right mt-2">
        Samuel Maina., E-commerce Entrepreneur
      </figcaption>
    </blockquote>
  </figure>
  <!------------------------------>
  <figure class="my-10 mx-10">
    <blockquote
      class="bg-teal-400 pl-10 pr-8 py-6 rounded-3xl relative shadow-2xl"
    >
      <p
        class="text-base text-left mt-2 text-gray-700 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-6xl before:opacity-25 before:transform before:translate-y-2 before:translate-x-2 after:content-['\201D'] after:font-serif after:absolute after:right-10 after:text-6xl after:opacity-25 after:transform after:translate-y-2 after:translate-x-2"
      >
        Tasky Logistics has been the missing piece in our supply chain puzzle.
        Their team's dedication to reliability is commendable. We've seen a
        significant improvement in our overall operations since partnering with
        Tasky. If you need a logistics company you can trust, look no further.
        Tasky delivers, literally
      </p>
      <figcaption class="italic text-lg text-slate-100 text-right mt-2">
        David Tarus Kiprono., Supply Chain Coordinator
      </figcaption>
    </blockquote>
  </figure>
</section>

<section class="bg-white w-full py-8">
  <div class="grid grid-flow-col gap-x-4 mx-4">
    <div>
      <h2 class="font-bold text-yellow-300 text-xl">Mission</h2>
      <p>
        Our mission and core values are integrated in what we strive to achieve.
      </p>
    </div>

    <div>
      <h2 class="font-bold text-yellow-300 text-xl">Vision</h2>
      <p>
        To be acknowledged by our customers as an integral part of their supply
        chain requirements within Kenya and throughout the rest of East Africa.
      </p>
    </div>
    <div class="hidden md:block">
      <h2 class="font-bold text-yellow-300 text-xl">Core Values</h2>
      <ul class="list-disc">
        <li>Integrity</li>
        <li>Innovation</li>
        <li>Integration</li>
      </ul>
    </div>
  </div>
</section>

{% endblock%}
