{% extends 'base.html' %} {% block content %}

<section class="relative h-[80vh] pb-10">
  <div class="w-full">
    <div
      class="absolute h-[80vh] w-full left-0 top-0 z-20 object-cover bg-black/40"
    >
      <div class="text-white ml-20 mt-20">
        <h1 class="text-4xl font-semibold md:text-6xl">
          Seamless Logistics<br />
          Timely Solutions
        </h1>
        <h2
          class="font-playpen font-semibold pt-5 text-md md:text-xl text-left break-words"
        >
          We provide you with a “one-stop-solution” to meet all of your
          logistics requirements. You will get personalized service at every
          level with Tasky Logistics because we are truly independent, make our
          own decisions and specialize in our home market.
        </h2>
      </div>
    </div>
    <img
      class="w-full h-[80vh] object-cover"
      src="{{url_for('static', filename='media/logistics.jpg')}}"
    />
  </div>
</section>

<section class="py-10">
  <div class="px-5 py-2 md:ml-20">
    <h1 class="font-bold text-yellow-300 text-2xl">About us</h1>
    <div class="flex flex-col min-[900px]:flex-row">
      <img
        class="object-cover max-[900px]:mx-14"
        src="{{url_for('static', filename='media/truck2.jpg')}}"
        alt="truck"
      />

      <div class="pl-5 text-left">
        <p>
          Tasky Transport is a dynamic and innovative transport and Logistics
          Company, with a strategic specialized fleet, providing solutions
          throughout Kenya for a diverse range of customers. Our blend of owned
          vehicles, comprehensive innovative solutions, strategic partnerships,
          4PL and 3Pl service offerings coupled with excellent service, quick
          decision making and first-hand knowledge enables us to supply our
          customers with a tailor made, reliable and cost effective solution,
          meeting specific requirements of customers. This is accomplished by
          learning customer’s exact objectives with regards to their internal
          and external requirements, thus ensuring that Tasky Logistics will
          provide quality services more consistently than any other service
          provider in the market
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
