<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Delivering fast and reliable logistics solutions. Your go-to company for transport Logistics in Kenya">
    <meta name="keywords" content="logistics, shipping, supply chain, warehousing, delivery, transportation">
    <meta name="robots" content="index, follow">
    <title>Tasky Logistics Ltd.</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='media/Tasky ico.png')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Playpen+Sans:wght@100&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&family=Rubik:wght@300&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/ed6fec6a07.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css"  rel="stylesheet" />

  </head>

  <body class="bg-[#f7f7f7] text-gray-700 min-h-screen overflow-x-clip font-Inter">
    <!--header-->
    <header class="w-full fixed bg-blue-700/80 z-50 font-Rubik">
      <section class="flex justify-between items-center w-full p-3">
        <a href="{{url_for('index')}}"><img class="w-20 ml-10 md:ml-20" src="{{url_for('static', filename='media/Tasky.jpg')}}"/></a>

        <div>
          <button class="text-4xl font-bold text-white md:hidden">&#9776;</button>

            <nav class="text-slate-100 font-semibold space-x-5 hidden md:flex">
                <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="hover:text-yellow-300 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out ">Company<i class="fa-solid fa-caret-down" style="color: #ffffff; padding-left:7px;"></i></button>
                <!--dropdown Menu-->
                <div id="dropdownHover" class="z-10 hidden bg-white rounded-lg divide-y divide-gray-100 w-28 h-32 shadow-xl">
                  <ul class="text-sm py-2 text-blue-800 hover:text-white">
                    <a href="{{url_for('about')}}"><li class="block px-4 py-2 hover:bg-gray-600"><i class="fa-solid fa-circle-info" style="color: #1e57b8; padding-right:4px;"></i>About Us</li></a>

                    <li class="block px-4 py-2 hover:bg-gray-600"><i class="fa-solid fa-suitcase" style="color: #1e57b8; padding-right:4px;"></i>Careers</li>
                     
                    <li class="block px-4 py-2 hover:bg-gray-600"><i class="fa-solid fa-newspaper" style="color: #1e57b8; padding-right:4px;"></i>News</li>
                  </ul>
                </div>
                <button class="hover:text-yellow-300 hover:underline transition hover:-translate-y-1 hover:translate-x-1 duration-100  ease-out">Send Cargo</button>
                <button class="hover:text-yellow-300 hover:underline transition ease-out delay-100 hover:-translate-y-1 hover:translate-x-1">Transporters</button>
                
            </nav>

          </div>

          <div class="hidden md:flex lg:mr-[200px]">
            <button class="w-36 px-2 py-1 bg-white text-blue-700 hover:bg-yellow-300 font-semibold shadow-2xl rounded-2xl ">Book a Delivery</button>
          </div>
      </section>  
      
      
    </header>
    <main>
        
        {% block content %}

        {% endblock %}

    </main>

        <!------------------------------------------------------------------------------------->
        <section class="inset-x-0 pb-0 bottom-0 w-full bg-blue-700/80 rounded-bl-[4rem] mt-10">  
          <footer class=" text-slate-100 font-semibold font-Rubik flex flex-col md:flex-row p-5 gap-10 lg:gap-20 text-lg ">
            <div>
              <img class="w-[150px] mb-5" src="{{url_for('static', filename='media/Tasky.jpg')}}"/>
              <p>Secure.Safe.Delivering Confidence</p>
            
            </div>
    
            <div class="flex flex-col space-y-2">
              <a href="{{url_for('index')}}" >Home</a>
              <a href="{{url_for('about')}}">About Us</a>
              <a>Send Cargo</a>
              <a>Transporters</a>
              <a>News</a>
            </div>
    
            <div class="space-y-5 lowercase">
              <p><i class="fa-solid fa-phone" style="color: #f1f2f4; padding-right: 5px;"></i>+254759600596</p>
              <p><i class="fa-solid fa-phone" style="color: #f1f2f4; padding-right: 5px;"></i>+254101306622</p>
              <p><i class="fa-solid fa-envelope" style="color: #f1f2f4; padding-right: 5px;"></i>info@taskylogistics.co.ke</p>
            </div>   
        
          </footer>
          <div class="flex justify-center">
              <hr class="w-[90%]  text-2xl"/>
          </div>
    
          <div class="flex flex-col justify-between items-center">
                <div class="flex flex-row space-x-5 ml-10">
                  <p><i class="fa-brands fa-linkedin" style="color: #f1f2f4;"></i></p>
                  <p><i class="fa-brands fa-facebook" style="color: #f1f2f4;"></i></p>
                  <p><i class="fa-brands fa-instagram" style="color: #f1f2f4;"></i></p>
                  <p><i class="fa-brands fa-x-twitter" style="color: #f1f2f4;"></i></p>
                </div>
                <div>
                  <p class=" text-slate-200 text-center w-full text-base 2xl:text-2xl mr-10">&copy;2023 <span class="text-2xl">&#8739</span>All Rights Reserved <span class="text-2xl">&#8739</span>Tasky Logistics Ltd.</p>
                </div>
            </div>
          </section>
            <script>
              AOS.init({
                duration: 1500, // values from 0 to 3000, with step 50ms
                easing: 'ease',
              });
              
            </script>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
  </body>
</html>
