<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasky Logistics</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='media/Tasky ico.png')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/ed6fec6a07.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body class="bg-[#ededed] text-gray-700 min-h-screen overflow-x-clip">
    <!--header-->
    <header class="w-full fixed bg-blue-700/80 z-50">
      <section class="flex justify-between items-center w-full p-3">
        <img class="w-20 ml-5 md:ml-20" src="{{url_for('static', filename='media/Tasky.jpg')}}"/>

        <div>
          <button class="text-4xl font-bold text-white md:hidden">&#9776;</button>

            <nav class="text-slate-100 font-semibold space-x-5 font-sans hidden md:flex">
                <button class="hover:text-yellow-300 hover:underline transition hover:-translate-y-2 hover:translate-x-1 duration-100 ease-out ">Company</button>
                <button class="hover:text-yellow-300 hover:underline transition hover:-translate-y-1 hover:translate-x-1 duration-100  ease-out">Send Cargo</button>
                <button class="hover:text-yellow-300 hover:underline transition ease-out delay-100 hover:-translate-y-1 hover:translate-x-1">Transporters</button>
                
            </nav>

          </div>

          <div class="hidden md:flex lg:mr-[200px]">
            <button class="w-36 px-2 py-1 bg-white text-blue-700 hover:bg-yellow-300 font-semibold shadow-2xl rounded-2xl ">Book a Delivery</button>
          </div>
      </section>  
      
      
    </header>
    
    <main>
      <section class="relative h-[90vh]">
        <div class="absolute w-full h-full -translate-x-[50%] left-[50%] overflow-clip">
          <!--overlay-->
          <div class="absolute top-0 left-0 object-cover w-full h-[90vh] z-20 bg-black/40 ">
            <div class="ml-10 mt-16 w-[400px] font-bold md:ml-24 text-white">
              <p class="uppercase font-bold text-4xl md:text-6xl">Deliver Your<br /> Products<br /> with ease</p>
              <p class="mt-8 text-lg font-bold font-playpen break-words md:text-2xl">Let Tasky Logistics handle the <br /> heavy lifting while you focus on <br /> what's important- Your Business</p>

              <p class="mt-8 text-xl italic">Give us a Call: +254101306622</p>
            
              <button class="w-32 mt-5 p-2 bg-blue-700/80 hover:bg-yellow-300 font-semibold shadow-2xl rounded-2xl ">Get A Quote</button>
            </div>
          </div>
          <img class="w-full h-[90vh] object-cover" src="{{url_for('static', filename='media/truck.jpg')}}"/>
      
        </div>
      </section>

      <!--why Us-->
      <section class="p-5 ml-10 md:ml-28 ">
        <h1 class="font-bold text-yellow-300 text-2xl">Why Us?</h1>
        <h2 class="pb-5 text-lg">At Tasky Logistics Ltd, our sole objective is to assist you in landing your imports and exports timeously, cost effectively and with a minimum unplanned risks or events.<br />
           How will we achieve this?</h2>
        <div class="flex flex-col gap-10 md:flex-row ">
          <div class="w-auto md:w-[400px] h-auto rounded-md shadow-2xl bg-white p-4 font-normal">
            <span><i class="fa-solid fa-money-check-dollar fa-2xl" style="color:rgba(250, 202, 21, 0.886);"></i></span>
              <h2 class="text-blue-700 font-semibold pt-2">Rates</h2>
                <p>By providing you with competitive services measured in terms of rates and costs.</p>
          
              </div>
          <div class="w-auto md:w-[400px] h-auto rounded-md shadow-2xl bg-white p-4 font-normal">
            <span><i class="fa-solid fa-thumbs-up fa-2xl" style="color: rgba(250, 202, 21, 0.968);"></i></span>
            <h2 class="text-blue-700 font-semibold pt-2">Quality</h2>
                <p>By implementing a set of quality standards that meet your expectations and by reviewing our performance against them regularly.</p>
          
          </div>
          <div class="w-auto md:w-[400px] h-auto rounded-md shadow-2xl bg-white p-4 font-normal">
            <span><i class="fa-solid fa-arrow-trend-up fa-2xl" style="color: rgba(250, 202, 21, 0.968);"></i></span>
            <h2 class="text-blue-700 font-semibold pt-2">Effeciency</h2>
                <p>Our goal is your satisfaction. We want to provide you with the exact services you need and work closely with your team to meet all your company’s logistics needs</p>
          
          </div>
        </div>
      </section>
    </main>
    <!------------------------------------------------------------------------------------->
    <section class="inset-x-0 pb-0 bottom-0 w-full">  
      <footer class="bg-blue-700/80">
        
      
      <p class="text-center w-full pb-0 py-2 mb-0 text-base min-[375px]:py-3 2xl:text-2xl">&copy;2023 <span class="text-2xl">&#8739</span>All Rights Reserved <span class="text-2xl">&#8739</span>Tasky Logistics Ltd.</p>
      </footer>
    </section>
        <script>
          AOS.init({
            duration: 1500, // values from 0 to 3000, with step 50ms
            easing: 'ease',
          });
          
        </script>
        <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
