<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasky</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <script src="{{url_for('static', filename='js/menu.js')}}" defer></script>
  </head>

  <body class="py-8 px-9 bg-[#ededed] text-slate-800">
    <div class="h-[90vh] bg-blue-700/40 shadow-2xl rounded-xl">
      <!--Nav Bar-->
      <header class="flex justify-between">
        <img
          class="h-11 p-2 rounded-md"
          src="{{url_for('static', filename='media/Tasky.jpg')}}"
        />

        <section class="flex font-bold mr-10 font-serif text-lg">
          <div>
            <button class="text-5xl md:hidden focus:outline-none" id="hmg-btn">
              &#9776;
            </button>

            <nav class="flex-row gap-10 hidden md:block">
              <a class="py-3">HOME</a>
              <a class="py-3">SERVICES</a>
              <a class="py-3">ABOUT US</a>
              <a class="py-3">CONTACT US</a>
            </nav>
          </div>
        </section>
        <!--The Moble hero section will be different from the one in PC-->
      </header>
    </div>
  </body>
</html>
